@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&family=K2D:wght@100&family=Teko:wght@300&display=swap');

:root {
  --main-color: #3D7291;
  --second-color: #5F8CA3;
  --orange-color: #F35B1C;
  --gray-color: #B9B9B9;
  --yellow-color: #FAC430;
  --purb-color: #D150B4;
  --green-color: #118183;
  --dark-color: #1B5A7D;
}

a {
  text-decoration: none;
}

/*navbar*/
.navbar {
  background-color: white;
}

.navbar-brand svg {
  width: 150px;
}


.navbar .add {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navbar .lin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .login {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: 15px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navbar .search {
  width: 100%;
  padding-right: 0;
  margin-right: 0;
  border-top: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  outline: none;
}

.navbar .search:focus {
  box-shadow: none;
  border: 1px solid var(--main-color);
}

.navbar .button,
.navbar .button:hover {
  padding-left: 10px;
  margin-left: 0;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
}

.navbar .icon {
  color: var(--main-color);
}

.navbar form {
  flex-basis: 50%;
}

.navbar .user {
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
}

/*products*/
.products {
  direction: rtl;
}

.products .box {
  padding: 5% 10%;
  box-shadow: 0px 0px 10px 0px var(--gray-color);
}

.products .box .title p {
  color: #707070;
}

.products .box .star svg {
  color: var(--yellow-color);
  font-size: 18px;
}

.products .image img {
  width: 70%;
  height: 250px;
}

.products .box .price span {
  color: var(--orange-color);
}

.products .box .number p {
  padding: 5px;
}

.products .box .number span {
  padding: 10px 15px 0;
  border: 1px solid var(--gray-color);
  font-weight: bold;
}

/*video*/
.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 100000;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.trailer.active {
  visibility: visible;
  opacity: 1;
}

.trailer video {
  position: relative;
  max-width: 800px;
  outline: none;
}

.trailer .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

@media (max-width:991px) {
  .trailer video {
    max-width: 90%;
  }
}

/*footer*/
.mainFooter {
  background-color: var(--second-color);
}

.mainFooter .subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
}

@media (max-width:500px) {
  .mainFooter .subscribe {
    flex-direction: column;
  }
}

.mainFooter .subscribe .form {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.mainFooter .subscribe button {
  background-color: var(--orange-color);
  color: white;
  border: none;
  font-weight: bold;
  padding: 5px;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}

.mainFooter .subscribe input {
  border: none;
  padding: 5px;
  outline: none;
  width: 50%;
  text-align: right;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}

.mainFooter .subscribe input:focus {
  border: none;
  outline: none;
}

.mainFooter .subscribe .text p {
  font-size: 21px;
}

.mainFooter .links {
  text-align: right;
}

.mainFooter .links a {
  text-decoration: none;
}

.mainFooter .links h4 {
  font-size: 18px;
  margin-bottom: 20px;
  border-right: 1px solid var(--orange-color);
  padding-right: 7px;
}

.mainFooter .links ul {
  text-align: right;
  color: white;
}

.mainFooter .links ul li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 12px;
  list-style-position: inside;
  text-align: right;
}

.mainFooter .links .social {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px 10px;
  justify-content: space-between;
}

.mainFooter .links .social .icon {
  color: white;
}

.mainFooter .links .social svg {
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer .foot {
  background-color: var(--main-color);
  height: 70px;
}

.footer .foot .container-fluid {
  height: 70px;
}

.footer .foot .foot-content {
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
  height: 100%;
}

.footer .foot .foot-content .logo img,
.footer .foot .foot-content .vision img {
  width: 100%;
  height: 100%;
}

.footer .foot .foot-content .text p {
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 15px;
  font-weight: bold;
}